@font-face {
    font-family: "Starborn";
    src: url("./fonts/starborn/Starborn.ttf");
  }

body {
  background-color:#4A5759;
}

h1 {
  font-family: "Starborn", sans-serif;
  font-size: 80px;
  color: #EDAFB8;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

@font-face {
  font-family: "Winkle";
  src: url("./fonts/winkle/winkle.ttf");
}

/*Credits to Squareshot, Dribble, and CSS Scan*/
.button-56 {
  align-items: center;
  background-color: #EDAFB8;
  border: 2px solid #F7E1D7;
  border-radius: 24px;
  box-sizing: border-box;
  color: #F7E1D7;
  cursor: pointer;
  display: flex;
  font-family: "Winkle",sans-serif;
  font-size: 60px;
  height: 100px;
  justify-content: center;
  line-height: 80px;
  max-width: 300px;
  padding: 0 50px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #003803;
  border-radius: 20px;
  content: "";
  display: block;
  height: 100px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  background-color: #F7E1D7;
  color: #EDAFB8;
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

.button-1 {
  background-color: #edafb8;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  width: 115%;
  height: 15%;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #f7e1d7;
}

/*Sticky Notes*/
.note-container {
    position: relative;
    width: 600px; 
    display: block;
  }

  .note-cont-Img {
    width: 100%;
    height: 100%;
    display: block;
  }

  .note-textbox {
    position: absolute;
    top: 27%; 
    left: 12%;
    width: 72%;
    height: 64%;
    resize: none;
    background-color: rgba(255, 222, 89, 0.5);
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 22px;
    line-height: 2;
  }
  .close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    z-index: 3;
    display: block;
  }
  .textArea {
    width:300px;
    height:200px;
    padding: 10px;
    font-size: 16px;
    resize: none;
  }

/*Goals*/
.goal-container {
  position: relative;
  margin-left: 0%;
  height: 50%;
  display: block;
}
.goal-cont-Img {
  width: 35%;
  height: 0%;
  display: block;
}
.goal-textbox {
  position: absolute;
  top: 23.4%; 
  left: 67.3%;
  width: 12%;
  height: 23%;
  resize: none;
  background-color: rgba(222, 219, 210, 0.5);
  border: 0.1px solid #ffffff;
  padding: 8px;
  font-size: 18px;
  line-height: 2;
}
.textArea {
  width:300px;
  height:200px;
  padding: 10px;
  font-size: 16px;
  resize: none;
}

/*
.dividers {
  padding: 0%;
  margin-left: 0%;
  margin-right: 0%;
}*/

/* color pallete:
#edafb8
f7e1d7
dedbd2
b0c4b1
4a5759
*/